<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1001</string>
		<key>eng</key>
		<string>level</string>
		<key>chs</key>
		<string>级</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1002</string>
		<key>eng</key>
		<string></string>
		<key>chs</key>
		<string>个</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1003</string>
		<key>eng</key>
		<string>life</string>
		<key>chs</key>
		<string>生命</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1004</string>
		<key>eng</key>
		<string>atk</string>
		<key>chs</key>
		<string>攻击</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1005</string>
		<key>eng</key>
		<string>def</string>
		<key>chs</key>
		<string>防御</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1006</string>
		<key>eng</key>
		<string>money</string>
		<key>chs</key>
		<string>金币</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1007</string>
		<key>eng</key>
		<string>exp</string>
		<key>chs</key>
		<string>经验</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1101</string>
		<key>eng</key>
		<string>Begin</string>
		<key>chs</key>
		<string>序章</string>
	</dict>
	<dict><key>id</key><string>1201</string><key>eng</key><string></string><key>chs</key><string>绿头怪</string></dict>
	<dict><key>id</key><string>1202</string><key>eng</key><string></string><key>chs</key><string>红头怪</string></dict>
	<dict><key>id</key><string>1203</string><key>eng</key><string></string><key>chs</key><string>小蝙蝠</string></dict>
	<dict><key>id</key><string>1204</string><key>eng</key><string></string><key>chs</key><string>青头怪</string></dict>
	<dict><key>id</key><string>1205</string><key>eng</key><string></string><key>chs</key><string>骷髅人</string></dict>
	<dict><key>id</key><string>1206</string><key>eng</key><string></string><key>chs</key><string>骷髅士兵</string></dict>
	<dict><key>id</key><string>1207</string><key>eng</key><string></string><key>chs</key><string>兽面人</string></dict>
	<dict><key>id</key><string>1208</string><key>eng</key><string></string><key>chs</key><string>初级卫兵</string></dict>
	<dict><key>id</key><string>1209</string><key>eng</key><string></string><key>chs</key><string>大蝙蝠</string></dict>
	<dict><key>id</key><string>1210</string><key>eng</key><string></string><key>chs</key><string>红蝙蝠</string></dict>
	<dict><key>id</key><string>1211</string><key>eng</key><string></string><key>chs</key><string>白衣武士</string></dict>
	<dict><key>id</key><string>1212</string><key>eng</key><string></string><key>chs</key><string>怪王</string></dict>
	<dict><key>id</key><string>1213</string><key>eng</key><string></string><key>chs</key><string>红衣法师</string></dict>
	<dict><key>id</key><string>1214</string><key>eng</key><string></string><key>chs</key><string>红衣魔王</string></dict>
	<dict><key>id</key><string>1215</string><key>eng</key><string></string><key>chs</key><string>金甲卫士</string></dict>
	<dict><key>id</key><string>1216</string><key>eng</key><string></string><key>chs</key><string>金甲队长</string></dict>
	<dict><key>id</key><string>1217</string><key>eng</key><string></string><key>chs</key><string>骷髅队长</string></dict>
	<dict><key>id</key><string>1218</string><key>eng</key><string></string><key>chs</key><string>灵法师</string></dict>
	<dict><key>id</key><string>1219</string><key>eng</key><string></string><key>chs</key><string>灵武士</string></dict>
	<dict><key>id</key><string>1220</string><key>eng</key><string></string><key>chs</key><string>冥灵魔王</string></dict>
	<dict><key>id</key><string>1221</string><key>eng</key><string></string><key>chs</key><string>麻衣法师</string></dict>
	<dict><key>id</key><string>1222</string><key>eng</key><string></string><key>chs</key><string>冥战士</string></dict>
	<dict><key>id</key><string>1223</string><key>eng</key><string></string><key>chs</key><string>冥队长</string></dict>
	<dict><key>id</key><string>1224</string><key>eng</key><string></string><key>chs</key><string>初级法师</string></dict>
	<dict><key>id</key><string>1225</string><key>eng</key><string></string><key>chs</key><string>高级法师</string></dict>
	<dict><key>id</key><string>1226</string><key>eng</key><string></string><key>chs</key><string>石头怪人</string></dict>
	<dict><key>id</key><string>1227</string><key>eng</key><string></string><key>chs</key><string>兽面武士</string></dict>
	<dict><key>id</key><string>1228</string><key>eng</key><string></string><key>chs</key><string>双手剑士</string></dict>
	<dict><key>id</key><string>1229</string><key>eng</key><string></string><key>chs</key><string>冥卫兵</string></dict>
	<dict><key>id</key><string>1230</string><key>eng</key><string></string><key>chs</key><string>高级卫兵</string></dict>
	<dict><key>id</key><string>1231</string><key>eng</key><string></string><key>chs</key><string>影子战士</string></dict>
	<dict><key>id</key><string>1232</string><key>eng</key><string></string><key>chs</key><string>血影</string></dict>
	<dict><key>id</key><string>1233</string><key>eng</key><string></string><key>chs</key><string>魔龙</string></dict>
</array>
</plist>
