<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1001</string>
		<key>eng</key>
		<string>level</string>
		<key>chs</key>
		<string>级</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1002</string>
		<key>eng</key>
		<string></string>
		<key>chs</key>
		<string>个</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1003</string>
		<key>eng</key>
		<string>life</string>
		<key>chs</key>
		<string>生命</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1004</string>
		<key>eng</key>
		<string>atk</string>
		<key>chs</key>
		<string>攻击</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1005</string>
		<key>eng</key>
		<string>def</string>
		<key>chs</key>
		<string>防御</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1006</string>
		<key>eng</key>
		<string>money</string>
		<key>chs</key>
		<string>金币</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1007</string>
		<key>eng</key>
		<string>exp</string>
		<key>chs</key>
		<string>经验</string>
	</dict>
	<dict><key>id</key><string>1101</string><key>eng</key><string>Begin</string><key>chs</key><string>序  章</string></dict>
	<dict><key>id</key><string>1102</string><key>eng</key><string>Begin</string><key>chs</key><string>第1层</string></dict>
	<dict><key>id</key><string>1103</string><key>eng</key><string>Begin</string><key>chs</key><string>第2层</string></dict>
	<dict><key>id</key><string>1104</string><key>eng</key><string>Begin</string><key>chs</key><string>第3层</string></dict>
	<dict><key>id</key><string>1105</string><key>eng</key><string>Begin</string><key>chs</key><string>第4层</string></dict>
	<dict><key>id</key><string>1106</string><key>eng</key><string>Begin</string><key>chs</key><string>第5层</string></dict>
	<dict><key>id</key><string>1107</string><key>eng</key><string>Begin</string><key>chs</key><string>第6层</string></dict>
	<dict><key>id</key><string>1108</string><key>eng</key><string>Begin</string><key>chs</key><string>第7层</string></dict>
	<dict><key>id</key><string>1109</string><key>eng</key><string>Begin</string><key>chs</key><string>第8层</string></dict>
	<dict><key>id</key><string>1110</string><key>eng</key><string>Begin</string><key>chs</key><string>第9层</string></dict>
	<dict><key>id</key><string>1111</string><key>eng</key><string>Begin</string><key>chs</key><string>第10层</string></dict>
	<dict><key>id</key><string>1112</string><key>eng</key><string>Begin</string><key>chs</key><string>第11层</string></dict>
	<dict><key>id</key><string>1113</string><key>eng</key><string>Begin</string><key>chs</key><string>第12层</string></dict>
	<dict><key>id</key><string>1114</string><key>eng</key><string>Begin</string><key>chs</key><string>第13层</string></dict>
	<dict><key>id</key><string>1115</string><key>eng</key><string>Begin</string><key>chs</key><string>第14层</string></dict>
	<dict><key>id</key><string>1116</string><key>eng</key><string>Begin</string><key>chs</key><string>第15层</string></dict>
	<dict><key>id</key><string>1117</string><key>eng</key><string>Begin</string><key>chs</key><string>第16层</string></dict>
	<dict><key>id</key><string>1118</string><key>eng</key><string>Begin</string><key>chs</key><string>第17层</string></dict>
	<dict><key>id</key><string>1119</string><key>eng</key><string>Begin</string><key>chs</key><string>第18层</string></dict>
	<dict><key>id</key><string>1120</string><key>eng</key><string>Begin</string><key>chs</key><string>第19层</string></dict>
	<dict><key>id</key><string>1121</string><key>eng</key><string>Begin</string><key>chs</key><string>第20层</string></dict>
	<dict><key>id</key><string>1122</string><key>eng</key><string>Begin</string><key>chs</key><string>第21层</string></dict>
	<dict><key>id</key><string>1123</string><key>eng</key><string>Begin</string><key>chs</key><string>第22层</string></dict>
	<dict><key>id</key><string>1124</string><key>eng</key><string>Begin</string><key>chs</key><string>第23层</string></dict>
	<dict><key>id</key><string>1125</string><key>eng</key><string>Begin</string><key>chs</key><string>第23层</string></dict>
	<dict><key>id</key><string>1126</string><key>eng</key><string>Begin</string><key>chs</key><string>第23层</string></dict>
	<dict><key>id</key><string>1127</string><key>eng</key><string>Begin</string><key>chs</key><string>地下层</string></dict>

	<dict><key>id</key><string>1201</string><key>eng</key><string></string><key>chs</key><string>绿头怪</string></dict>
	<dict><key>id</key><string>1202</string><key>eng</key><string></string><key>chs</key><string>红头怪</string></dict>
	<dict><key>id</key><string>1203</string><key>eng</key><string></string><key>chs</key><string>小蝙蝠</string></dict>
	<dict><key>id</key><string>1204</string><key>eng</key><string></string><key>chs</key><string>青头怪</string></dict>
	<dict><key>id</key><string>1205</string><key>eng</key><string></string><key>chs</key><string>骷髅人</string></dict>
	<dict><key>id</key><string>1206</string><key>eng</key><string></string><key>chs</key><string>骷髅士兵</string></dict>
	<dict><key>id</key><string>1207</string><key>eng</key><string></string><key>chs</key><string>兽面人</string></dict>
	<dict><key>id</key><string>1208</string><key>eng</key><string></string><key>chs</key><string>初级卫兵</string></dict>
	<dict><key>id</key><string>1209</string><key>eng</key><string></string><key>chs</key><string>大蝙蝠</string></dict>
	<dict><key>id</key><string>1210</string><key>eng</key><string></string><key>chs</key><string>红蝙蝠</string></dict>
	<dict><key>id</key><string>1211</string><key>eng</key><string></string><key>chs</key><string>白衣武士</string></dict>
	<dict><key>id</key><string>1212</string><key>eng</key><string></string><key>chs</key><string>怪王</string></dict>
	<dict><key>id</key><string>1213</string><key>eng</key><string></string><key>chs</key><string>红衣法师</string></dict>
	<dict><key>id</key><string>1214</string><key>eng</key><string></string><key>chs</key><string>红衣魔王</string></dict>
	<dict><key>id</key><string>1215</string><key>eng</key><string></string><key>chs</key><string>金甲卫士</string></dict>
	<dict><key>id</key><string>1216</string><key>eng</key><string></string><key>chs</key><string>金甲队长</string></dict>
	<dict><key>id</key><string>1217</string><key>eng</key><string></string><key>chs</key><string>骷髅队长</string></dict>
	<dict><key>id</key><string>1218</string><key>eng</key><string></string><key>chs</key><string>灵法师</string></dict>
	<dict><key>id</key><string>1219</string><key>eng</key><string></string><key>chs</key><string>灵武士</string></dict>
	<dict><key>id</key><string>1220</string><key>eng</key><string></string><key>chs</key><string>冥灵魔王</string></dict>
	<dict><key>id</key><string>1221</string><key>eng</key><string></string><key>chs</key><string>麻衣法师</string></dict>
	<dict><key>id</key><string>1222</string><key>eng</key><string></string><key>chs</key><string>冥战士</string></dict>
	<dict><key>id</key><string>1223</string><key>eng</key><string></string><key>chs</key><string>冥队长</string></dict>
	<dict><key>id</key><string>1224</string><key>eng</key><string></string><key>chs</key><string>初级法师</string></dict>
	<dict><key>id</key><string>1225</string><key>eng</key><string></string><key>chs</key><string>高级法师</string></dict>
	<dict><key>id</key><string>1226</string><key>eng</key><string></string><key>chs</key><string>石头怪人</string></dict>
	<dict><key>id</key><string>1227</string><key>eng</key><string></string><key>chs</key><string>兽面武士</string></dict>
	<dict><key>id</key><string>1228</string><key>eng</key><string></string><key>chs</key><string>双手剑士</string></dict>
	<dict><key>id</key><string>1229</string><key>eng</key><string></string><key>chs</key><string>冥卫兵</string></dict>
	<dict><key>id</key><string>1230</string><key>eng</key><string></string><key>chs</key><string>高级卫兵</string></dict>
	<dict><key>id</key><string>1231</string><key>eng</key><string></string><key>chs</key><string>影子战士</string></dict>
	<dict><key>id</key><string>1232</string><key>eng</key><string></string><key>chs</key><string>血影</string></dict>
	<dict><key>id</key><string>1233</string><key>eng</key><string></string><key>chs</key><string>魔龙</string></dict>
</array>
</plist>
